<header>
    <div class="container">
        <nav class="main">
            <a routerLink="/" class="logo">
                <img src="/assets/svg/LOGO.svg" alt="logo">
            </a>
            <a routerLink="" class="item active">
                <i class="icon icon-ads"></i>
                რეკლამა
            </a>
            <a routerLink="" class="item">
                <i class="icon icon-mail"></i>
                კონტაქტი
            </a>
            <a routerLink="" class="item">
                <i class="icon icon-ask"></i>
                დახმარება
            </a>
        </nav>
        <nav class="secondary">
            <a routerLink="">
                დამატება
            </a>
            <a routerLink="">
                <span>b</span>
                ჩემი ანგარიში
            </a>
            <a routerLink=""></a>
        </nav>
    </div>
</header>