<header>
    <nav class="container">
        <div class="menu">
            <a  routerLink="/">
                <img src="/assets/svg/LOGO.svg" alt="logo">
            </a>
            <a class="nav-ads" routerLink="">რეკლამა</a>
            <a class="nav-contact" routerLink="">კონტაქტი</a>
            <a class="nav-ask" routerLink="">დახმარება</a>
        </div>
        <div class="menu-right">
            <a class="nav-add" routerLink="">დამატება</a>
            <a class="nav-profile" routerLink="">ჩემი ანგარიში</a>
            <a class="nav-ge" routerLink=""></a>
        </div>
    </nav>
</header>