<header>
    <nav class="container">
        <div class="main">
            <a routerLink="/" class="logo">
                <img src="/assets/svg/LOGO.svg" alt="logo">
            </a>
            <a routerLink="" class="nav-item active">
                <i class="icon icon-ads"></i>
                რეკლამა
            </a>
            <a routerLink="" class="nav-item active">
                <i class="icon icon-mail"></i>
                კონტაქტი
            </a>
            <a routerLink="/help" class="nav-item active">
                <i class="icon icon-ask"></i>
                დახმარება
            </a>
        </div>
        <div class="secondary">
            <a routerLink="">
                დამატება
            </a>
            <a routerLink="">
                <span>b</span>
                ჩემი ანგარიში
            </a>
            <a routerLink=""></a>
        </div>
    </nav>
</header>